@import url('https://fonts.googleapis.com/css2?family=Sanchez&family=Satisfy&display=swap');


*{
    margin: 0px;
    padding: 0px;
    font-family: 'Sanchez', serif, sans-serif;
    font-size: clamp(10px, 1rem, 20px) ;
    color: #534F56;
    list-style: none;
}

body{
    background-color: #CDA673;
}

::-webkit-scrollbar{
    display: none;
}

header{
    border-bottom: 2px solid #534F56;
    display: flex;
    justify-content:space-between;
    padding: 0px 10px;
    align-items: center;
    height: 8vh;
}

#profil{
    background-color: #534F56;
    border-radius: 30px;
}

#profil a{
    color: #f8f8f8;
    display: flex;
    align-items: center;
    font-size: 0.6rem;
    text-indent: 10px;
    text-decoration: none;
}

a img{
    padding-left: 3px;
}

article img{
    width: 100vw;
    margin: 0px 0px 15px 0px;
}

h1{
    font-family: "Satisfy", sans-serif;
    text-align: center;
    font-size: 1.4rem;
    margin-bottom: 15px;
}

#titre1{
    color: #18830F;
}
#titre2{
    color: #FF0000;
}

p{
    text-indent: 35px;
    margin: 0px 10px 10px 10px;
    text-align: justify;
}

p:last-child{
    margin-bottom: 20px;
}