
body{
    background-color: #CDA673;
    color: #534F56;
}

article img{
    width: 100vw;
    margin: 0px 0px 15px 0px;
}

h1{
    font-family: "Satisfy", sans-serif;
    text-align: center;
    font-size: 1.4rem;
    margin-bottom: 15px;
}

#titre1{
    color: #18830F;
}
#titre2{
    color: #FF0000;
}

p{
    text-indent: 35px;
    margin: 0px 10px 10px 10px;
    text-align: justify;
}

p:last-child{
    margin-bottom: 20px;
}