
body{
    background-color: #CDA673;
    color: #534F56;
}

h2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    text-align: center;
    font-weight: normal;
    font-size: 1rem;
    letter-spacing: 1px;
    line-height: 25px;
}

section{
    display: flex;
    align-items: center;
    justify-content: center;
}


h3{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 13px;
    font-weight: normal;    
}


form{
    display: block;
    text-align: center;
    min-height: 550px;
    max-width: 400px;
    width: 90vw;
    border: 3px solid #18830F;
    border-radius: 8px;
    background-color: #f8F8F8;
    
}

form div{
    display: flex;
    padding: 8px;
}

#nom{
    margin-top: 15px;
}

label{
    max-width: 130px;
    width: 27vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
}

input{
    caret-color: #CDA673;
    color: #534F56;
}
input::placeholder{
    color: #534F56;
}
input:focus::placeholder{
    color: transparent;
}

textarea{
    color: #534F56;
    caret-color: #CDA673;
}

#avis{
    height: 130px;
    width: 237px;
    padding-left: 4px;
    border: 3px solid #18830F;
    border-radius: 13px;

}

.button{
    height: 40px;
    max-width: 100px;
    width: 23vw;
    margin: 5px 20px;
    color: #F8F8F8;
}

input{
    border-radius: 13px;
    border: 3px solid #18830F;
    padding-left: 10px;
    width: 50vw;

}

 #reset{
    background-color: red;
    padding: 0px;
}

#submit{
    background-color: #534F56;
    padding: 0px;
}


.contact{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding-bottom: 10px;
    text-align: center;
    max-width: 400px;
    width: 90vw;
    border-radius: 15px;
    border: 3px solid #83260f;
}

h3{
    margin-top: 7px;
    text-decoration: underline;

}
h3 i{
    padding-right: 5px;
}
address{
    margin-bottom: 15px;

}