
body{
    background-color: #CDA673;
    color: #534F56;

}

h1{
    width: 80vw;
    height: 10vh;
    font-size: 2rem ;
    letter-spacing: 2px;
    margin-left: 10vw;
    bottom: 60vh;
    text-align: center;
    font-family: 'Satisfy', sans-serif;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #534f56ea;
    color: #cda673f5;
    animation: showup 2s;
    border-radius: 20px;
}



#sousTitre div{
    display: inline-block;
    overflow: hidden;
    color: #F8F8F8;
    font-size: 1.8rem;   
    margin-bottom: 5vh;
}

#slogan1{
    animation: showup 3s ;  
}


#slogan2{
    width: 110px;
    animation: reveal 4s; 
}

#slogan2 span{
    font-size: 1.7rem;
    animation: slidein 4s ; 
    background-color: #CDA673;
    border-radius: 20px;
    padding:0px 10px;
}



@keyframes showup {
    0% {opacity: 0;}
    30% {opacity: 0;}
    100% {opacity: 1;}
   
}

@keyframes reveal {
    0% {opacity: 0; width: 0;}
    30% {opacity: 0; width: 0;}
    50% {opacity: 0; width: 75px;}
    100% {opacity: 1; width: 110px;}
}

@keyframes slidein {
    0%{margin-left: -500px;}
    40%{margin-left: -500px;}
    45%{margin-left: 0;}
    100%{margin-left:0px;}
    
}  





.container{
    width: 100vw;
    height: 90.6vh;

}

.slide_img{
	position: absolute;
	width: 100vw;
	height: 90.6vh;
}

#one{
    background-image: url(../images/accueil2.jpg);
    background-size: cover;
    background-position: center;

}
#two{
    background-image: url(../images/accueil1.jpg);
    background-size: cover;
    background-position: center;

}

#three{
    background-image: url(../images/accueil3.jpg);
    background-size: cover;
    background-position: center;

}
#i1, #i2, #i3{
	display: none;
}

.pre, .nxt{
	width: 45%;
	height: 100%;
	position: absolute;
	top:0;
	background: rgba(88,88,88,.0);

}

.pre{
	left: 0px;
}

.nxt{
	right: 0px;
}

.dots{
	width: 100%;
	bottom: 11%;
	position: absolute;
	text-align: center;
	z-index: 1;
}

.dot{
	top: -10px;
	width: 16px;
	height: 16px;
    margin-left: 16px;
	position: relative;
	border-radius: 50%;
	display: inline-block;
	background: rgba(0,0,0);
    
}

.slide_img{
	z-index: -1;

}

#i1:checked ~ #one,
#i2:checked ~ #two,
#i3:checked ~ #three{
	z-index: 1;

}

#i1:checked ~ .dots #dot1,
#i2:checked ~ .dots #dot2,
#i3:checked ~ .dots #dot3{
	background:#fff;
}

.principale{
    margin: 10px;
    text-indent: 15px;
    text-align: justify;
    display: block;

}

.fourchette{
    padding-right: 10px;
    padding-top: 5px;
    float: left;
    
}
.para1{
    margin-left: 10px;
    margin-top:  5px;
}


.images{
    display: flex;
    overflow: auto;
    margin: 15px -10px ;
}


.para3{
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
    
}

#tortilla{
    margin-left: 5px;
}