 /* applique sur toute la page */

@import url('https://fonts.googleapis.com/css2?family=Sanchez&family=Satisfy&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Sanchez', serif, sans-serif;
    font-size: clamp(10px, 1rem, 20px) ;
    list-style: none;
    text-decoration: none;
}

::-webkit-scrollbar{
    display: none;
}

body{
    background-color: #CDA673;
    color: #534F56;    
}

/* début header */

header{
    border-bottom: 2px solid #534F56;
    display: flex;
    justify-content:space-between;
    padding: 0px 10px;
    align-items: center;
    height: 9vh;
}
#logo{
    height: 5.8vh;

}

#profil{
    position: relative;
    display: flex;
    justify-content: flex-end;
    background-color: #534F56;
    border-radius: 30px;
    height: 5.8vh;
    
}

#profil a{
    color: #F8F8F8;
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    text-indent: 15px;
    
}

a img{
    padding-left: 3px;
}

/* fin du header */
/* debut de la page 1 */

.container{
    width: 100vw;
    height: 90.6vh;   
}

.slide_img{
    position: absolute;
    width: 100vw;
    height: 90.6vh;
    z-index: -1;
}

#one{
    background-image: url(../images/accueil2.jpg);
    background-size: cover;
    background-position: center;   
}

#two{
    background-image: url(../images/accueil1.jpg);
    background-size: cover;
    background-position: center;
}

#three{
    background-image: url(../images/accueil3.jpg);
    background-size: cover;
    background-position: center;    
}

/* élément à l'intérieur du diaporama */

.insidePhoto{
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 11%;
    z-index: 1;
}

h1{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Satisfy', sans-serif;
    width: 80vw;
    height: 10vh;
    bottom: 60vh;
    font-size: 2rem ;
    letter-spacing: 2px;
    margin-left: 10vw;
    background-color: #534f56ea;
    color: #cda673f5;
    border-radius: 20px;
    animation: showup 2s;
}

#slogan h2{
    display: inline-block;
    overflow: hidden;
    color: #F8F8F8;
    font-size: 1.7rem; 
    margin-bottom: 5vh;  
}

#sloganPart1{
    animation: showup 4s ;  
}


#sloganPart2{
    width: 110px;
    animation: reveal 5s; 
}


#unique a{
    font-size: 1.7rem;
    border-radius: 20px;
    padding:0px 10px;
    background-color: #CDA673;
    color: #534F56;
    animation: slidein 5s;     
}

/* animation slogan */

@keyframes showup {
    0% {opacity: 0;}
    30% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes reveal {
    0% {opacity: 0; width: 0;}
    70% {opacity: 0; width: 75px;}
    100% {opacity: 1; width: 110px;}
}

@keyframes slidein {
    0%{margin-left: -500px;}
    75%{margin-left: 0;}
    100%{margin-left:0px;}   
}  

/* fin animation slogan */

#i1, #i2, #i3{
    display: none;
}

.dot{
    position: relative;
    display: inline-block;
    top: -10px;
    width: 16px;
    height: 16px;
    margin-left: 16px;
    border-radius: 50%;
    background: rgba(0,0,0);
}   

#i1:checked ~ #one,
#i2:checked ~ #two,
#i3:checked ~ #three{
    z-index: 1;  
}

#i1:checked ~ .insidePhoto #dot1,
#i2:checked ~ .insidePhoto #dot2,
#i3:checked ~ .insidePhoto #dot3{
    background:#fff;
}

/* fin des éléments à l'intérieux du diaporama */
/* pour naviguer en cliquant sur les côtés du diaporama grâce aux labels */

.pre, .nxt{
	position: absolute;
    width: 45%;
	height: 100%;
	top:0;
	background: rgba(0,0,0,.0); 
}

.pre{
    left: 0px;
}

.nxt{
    right: 0px;
}
/*fin naviguer en cliquant sur les côtés du diaporama */
/* fin de la page 1 */
/* Début de la page 2 */

.principale{
    text-align: justify;
    margin: 5px 10px;
    text-indent: 15px;
}

#bienvenue{
    display: flex;
    justify-content: center;
    align-items: center;
    font: italic normal bold 1.5rem 'Satisfy';
    margin-top: 15px;

}

h3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:15px;
    text-decoration: underline;
}

.fork{
    float: left; 
    padding-right: 10px;
    padding-top: 5px;
    width: 30px;

}

.para1{
    margin-left: 10px;
    margin-top:  5px;
}

.friseImages{
    display: flex;
    position: relative;
    overflow: auto;
    margin: 11px -10px ;
    border-bottom: 4px solid #534F56;
    border-top: 5px solid #534F56;
}

.friseImages img{
    width: 43vw;
}
    


.para3{
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse; 
    margin-top: 15px;
}

#imageTortilla{
    margin-left: 5px;
    width: 130px;

}

/* fin de la page 2 */
/* menu tapbar */

#menu{
    position: sticky;
    bottom: 2%;
    width: 90vw;
    left: 5vw;
    z-index: 10;
}

.tapbar{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    height: 50px;
    background-color: #EAD8C0;
    border-radius: 15px;
}
.tapbar li a img{
    width: 40px;

}

/* fin menu tapbar */
/* début menu burger */

.hamburger{
    position: relative;
    width: 45px;
    height: 45px;
    padding-top: 40px;
    border: none;
    border-radius: 50%;
    background-color: #534F56;
    cursor: pointer;
}

.bar{
    display: block;
    position: absolute;
    background-color: #CDA673;
    width: 30px;
    height: 3px;
    margin-top: -22px;
    margin-left: 7px;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}

/* les barres en dessus 'after' et en dessous 'before' de la barre du milieux  */

.bar::before, .bar::after{
    content: "";
    display: block;
    position: absolute;
    background: #CDA673;
    width: 30px;
    height: 3px;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}

.bar::before{
    transform: translateY(-12px);
}

.bar::after{
    transform: translateY(12px);
}

.navbar__links{
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0vh;
    width:100vw;
    height: 0vh;
    background-color: #000000bb;
    backdrop-filter: blur(4px);
    transition: all .8s ease-in-out;
    overflow: hidden;
    z-index: 9;
}

.navbar__links{
    display: flex;
    align-items: center;
}

.navbar__link:first-child{
    margin-top: 8vh;
}

.navbar__link a{
    display: block;
    text-decoration: none;
    padding: 1rem;
    color: #CDA673;
    font-size: 1.3rem;
    transition: all .4s ease-in-out ;
}

.navbar__link a:hover {
    display: block;
    letter-spacing: 2px;
}

/* ajout de classe grâce au Javascript Hamburger.js */

.open-nav .bar{
    width: 0px;
}

.open-nav .bar::before{
    transform: rotate(45deg);
}

.open-nav .bar::after{
    transform: rotate(-45deg);
}

.open-nav .navbar__links{
    height: 100%;
}

/* fin menu burger */
/* footer */

footer{
    height: 15vh;
    background-color: #534F56;
}

.nousSuivre{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    color: #F8F8F8;
    font-size: 1rem;
}

.reseauxSociaux{
    display: flex;
    justify-content:center;
    align-items: center;
}

.icone{
    padding: 12px;
}

.icone img{
    width: 25px;
}

.copyright{
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
    color: #F8F8F8;
    font-size: 0.8rem;
    background-color: #534F56;
}