*{
    margin: 0px;
    padding: 0px;
    color: white;
}

header{
    display: flex; 
    margin: 10px 5vw;
}

h1{
    width: 90vw;
    height: 122px;
    background-color: #1B0744;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul{
    width: 80%;
    display: inline-flex;
    align-items: center;
    list-style: none;
    background: #38255F;
    margin-left: 10%;
    height: 40px;
    font-size: 1.5rem;
    
}

li{
    padding-left: 50px;
}
#accueil{
    margin-left: 50px;
}

article div{
    background: #9085A5;
    display: inline-block;
    margin-left: 6%;
    margin-top: 10px;
}

#div1 {
    width: 50vw;
    height: 60vh;
}
#div1 p{
color: black;
}
#div2{
    width: 37vw;
    height: 60vh;
    margin-left: 1px;
}
#div2 p{
color: #9085A5;
}

footer{
    background: #1C0644;
    width: 90vw;
    margin-left: 5%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    margin-top: 5px;
}